.diagram {
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(162, 136, 221, 0.3);
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
  margin: 1rem 2rem;
}
