.costs-filter {
  color: rgba(162, 136, 221);
  padding: 0 1rem;
  font-size: 2rem;
  margin: 0 10rem;
}

.costs-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0 2rem;
  background-color: rgba(162, 136, 221, 0.2);
  border-radius: 3rem;
}

.costs-filter label {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.costs-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
  background-color: rgba(162, 136, 221);
}
